services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    environment:
      - TRANSLATION_API_URL=http://api:8000
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    ports:
      - "8501:8501"
    depends_on:
      - api
